agTetribricks/Service References/TbScoreService/agScoreService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/agTetribricksWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/agTetribricksWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTbScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TbScore" nillable="true" type="tns:TbScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbScore" nillable="true" type="tns:ArrayOfTbScore" />
  <xs:complexType name="TbScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScoreDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScoreValue" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TbScore" nillable="true" type="tns:TbScore" />
</xs:schema>