agTetribricks/Service References/TbScoreService/agScoreService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/agTetribricksWeb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/agTetribricksWeb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.hosca.com/tetribricks/agScoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://www.hosca.com/tetribricks/agScoreService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfTbScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TbScore" nillable="true" type="tns:TbScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbScore" nillable="true" type="tns:ArrayOfTbScore" />
  <xs:complexType name="TbScore">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="ser:guid" />
          <xs:element minOccurs="0" name="ScoreDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ScoreValue" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TbScore" nillable="true" type="tns:TbScore" />
</xs:schema>